@model List<ConnectMagar.Models.Person>
@{
    ViewData["Title"] = "Home Page";
}

<!-- Main Content -->
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"> WelCome to Northern California Magar Family
    </h1>
    
</div>

<!-- List -->
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
        @foreach (Person person in Model)
        {
            <div class="col">
          <div class="card shadow-sm">
            <img src="/img/persons/@person.ImageFileName" class="bd-placeholder-img card-img-top" width="100%" height="180" onerror="imgError(this)">
            
            <div class="card-body">
               <h5 class="card-title">@string.Format("{0} {1}",person.FirstName, person.LastName)</h5>
              <p class="card-text">@person.Bio</p>
              <div class="card-text">
                <strong>Address</strong>
                @if(person.USAAddress != null){
                  <p>@person.USAAddress.StreetName, @person.USAAddress.City, @person.USAAddress.State, @person.USAAddress.ZipCode</p>
                }
                <strong>From</strong>
                @if(person.NepalAddress != null){
                  <p>@person.NepalAddress.City, @person.NepalAddress.State</p>
                }
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  @if(User.Identity.IsAuthenticated) 
                  {
                    <a href="mailto:@person.Email" class="btn btn-sm btn-outline-secondary"><i class="fas fa-envelope"></i>Email</a>
                    <a href="tel:@person.Phone" class="btn btn-sm btn-outline-secondary"><i class="fas fa-phone"></i>Call</a>
                  }
                </div>
                <small class="text-muted">@ConnectMagar.Helper.Utility.GetPrettyDate(person.DateUpdated)</small>
              </div>
            </div>
          </div>
        </div>
        }
        
      </div>
    </div>
  </div>
